# Python

1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [1]:
min = 2

max = 100

prime_number = [num for num in range(min,max) if 0 not in [num%i for i in range(2,num//2)]]

print (prime_number)

[2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

2.Write a function to reverse a string

string='reverse a string'

In [3]:
txt = "You are nice" [::-1]
print(txt)

ecin era uoY

3.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

Output: ['Monday', 'Sunday', 'Saturday'

In [85]:
days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
for index in range(len(days)):
    if days[index].isupper()
    print(days[index])

SyntaxError: invalid syntax (1923668530.py, line 3)

'n'

4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

In [4]:
import datetime as dt
>>> batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
>>> [dt.datetime.strptime(date_string, "%d-%m-%Y").year for date_string in batch]

[1997, 2011, 1993, 2020]

5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [14]:
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
dict2 = {}
 
for i in Module:
    dict2.setdefault(Module[i], []).append(i)
 
print(dict2)

{1: ['Data Science'], 2: ['Machine Learning'], 3: ['SQL'], 4: ['Big Data']}

6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [23]:
def check_space(my_string):
    return my_string.count(" ")

if __name__ == "__main__":
 my_string = "Data Science"
 print(f"Number of Spaces: {check_space(my_string)}")

Number of Spaces: 1

7.Define a function to check whether a number is in a range (1000,10000) or not.

In [26]:
def check_range(n):
    if n in range(1000,10000):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
        
a = int(input("Enter Number"))
check_range(a)

Enter Number2600
 2600 is in the range

8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [27]:
test_score = [10, 32, 23, 14, 25]

total = sum(test_score)
  
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  104

9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [36]:
import numpy as np
num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])
num_array[num_array % 2 == 0] = -1
print(arr)

[-1 21 -1 13 -1 45 -1 -1 -1 -1 65 -1 -1]

10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [42]:
import numpy as np
arr = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])
min_element_row = numpy.amin(arr, 1)
print('minimum elements in the rows of the array is:',min_element_row)

minimum elements in the rows of the array is: [210 106 125 240]